@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-date {
  font-size: 20px;
}

.option {
  margin-left: 10px;
}

select {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgb(229 231 235 / 1);
  color: rgb(55 65 81 / 1);
}

select ~ select {
  margin-left: 20px;
}

.error {
  border: 1px solid red;
}
