.book__container {
  margin-top: $header-height;
  .header__data__big {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__header {
    @include flex(center, space-between);

    font-size: 1.6rem;
    color: $txt-main-color;
    margin-bottom: 45px;

    .header__sort {
      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.book__list {
  &__item ~ &__item {
    margin-top: 2.5rem;
  }
  .book__data {
    div ~ div {
      margin-top: 0.8rem;
    }
    font-size: 1.8rem;
    color: $txt-main-color;
    font-weight: 700;
    margin-left: 5rem;

    @include tablet {
      margin-left: 4rem;
    }

    @include mobile {
      margin-left: 3rem;
    }

    a {
      color: $txt-second-color;
      font-weight: normal;
    }

    &__author {
      color: #ec1d25;
    }

    &__category {
      @include flex(center, space-between);

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      &-btn {
        background: $txt-main-color;
        color: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 1.4rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }

      span {
        button {
          outline: none;
          font-size: 1.4rem;
          border: none;
          border-radius: 5px;
          font-weight: 700;
          padding: 5px 10px;
          margin-left: 0.8rem;
          color: $txt-second-color;

          &.pending {
            background: #2a9df4;
          }

          &.borrowing {
            background: #fce205;
          }

          &.refund {
            background: #86dc3d;
          }

          &.expired {
            background: #ec1d25;
          }
        }
      }
    }
  }

  &__item {
    &__name {
      a {
        color: $txt-second-color;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      &.flex-name {
        @include flex(center, space-between);

        i {
          font-size: 2rem;
          color: #ec1d25;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &__img {
      min-width: 120px;
      height: 100%;
      max-width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.all-book__pagination {
  margin-top: -4rem;
  margin-bottom: 4rem;
  & > ul {
    justify-content: center;

    & li button,
    & li button svg {
      font-size: 18px;
      outline: none;
    }
  }
}

.book__favorite {
  padding: 0 20rem;

  @include tablet {
    padding: 0;
  }

  @include mobile {
    padding: 0;
  }
}
