.change-password {
  form {
    @include flex(center, center);

    .change-password__form {
      @include flex(flex-start, center);
      flex-direction: column;

      label {
        font-size: 1.8rem;
        color: $txt-main-color;
        font-weight: 700;
      }

      .input-group-effect {
        position: relative;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 2.5rem;

        input {
          border-radius: 5px;
          outline: none;
          width: 300px;
          font-size: 1.5rem;
          color: $txt-second-color;
        }
      }

      .submit-btn:hover,
      .submit-btn:focus {
        box-shadow: inset -8rem 0 0 0 #0d296b, inset 8rem 0 0 0 #0d296b;
      }

      button {
        width: 50%;
        display: block;
        margin: 0 auto;
        color: $txt-second-color;
        transition: 0.5s;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      button {
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 5px;
        background: none;
        border: 2px solid #0d296b;
        font-size: 1.2rem;
        line-height: 1;
        margin: 0 auto;
        padding: 10px;
      }
    }
  }
}

.effect-9 {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: $txt-hologram;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.effect-9 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5px;
  height: 0;
  background: $txt-hologram;
  transition: 0.2s;
}
.effect-9 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.effect-9:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}
.effect-9:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}
