.book__view {
  margin-top: $header-height;
  font-size: 1.6rem;
  padding: 0 10vw;

  &__name {
    @include hologram_text;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.5rem;

    // span {
    //   @include hologram_text;
    // }
  }

  &__rating {
    @include flex(center, flex-start);
    margin-top: 1rem;

    &__title {
      font-weight: 700;
      font-size: 2rem;
      margin-right: 1.5rem;
    }

    .rating {
      font-size: 3.5rem;

      span {
        color: $txt-main-color;
      }

      svg {
        margin-top: 2.5px;
      }
    }

    .rate-btn {
      background: #0d296b;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-left: 1.5rem;
      margin-top: -2rem;
      transition: all 0.4s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__btns {
    margin-top: 2rem !important;

    button {
      padding: 10px 20px;
      margin-right: 1.2rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      color: #fff;
      font-weight: 700;
      transition: all 0.4s ease-in-out;

      &:hover {
        opacity: 0.875;

        a {
          color: #fff;
        }
      }
    }

    .borrow-btn {
      background: #0d296b;
    }

    .like-btn {
      background: #ec1d25;
    }
  }

  &__image {
    height: 100%;
    min-width: 160px;
    max-width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__location {
    color: $txt-second-color;
    font-weight: 700;

    &__title {
      border: 1px solid #ccc;
      text-align: center;
      padding: 10px;
      font-size: 1.8rem;
      background: #0d296b;
      color: #fff;
      margin-bottom: 1rem;
    }

    .quantity,
    .bookshelf {
      span {
        font-size: 2rem;
        color: $txt-main-color;
        margin-left: 0.5rem;
      }
    }
  }

  &__data {
    color: $txt-second-color;
    font-weight: 700;
    margin-left: 3rem;

    & > div {
      margin-top: 1.2rem;
    }

    span {
      text-transform: capitalize;
    }

    &__rate,
    &__author,
    &__id,
    &__publisher,
    &__page,
    &__language {
      span {
        font-size: 2rem;
        color: $txt-main-color;
        margin-left: 0.5rem;
      }
    }
  }

  &__content {
    margin-top: 5rem;
    &__title {
      @include hologram_text;
      font-weight: 700;
      font-size: 2.8rem;
      border-bottom: 2px solid;
      border-image-slice: 1;
      border-image-source: $txt-hologram;

      span {
        @include hologram_text;
      }
    }

    &__data {
      margin-top: 1rem;
      font-size: 1.8rem;
      color: $txt-second-color;
    }
  }

  &__comment {
    margin-top: 5rem;
    &__title {
      @include hologram_text;
      font-weight: 700;
      font-size: 2.8rem;
      border-bottom: 2px solid;
      border-image-slice: 1;
      border-image-source: $txt-hologram;

      span {
        @include hologram_text;
      }
    }
  }
}
