#Auth {
  background: #fff;
  box-shadow: 3px 5px 30px rgb(0 0 0 / 10%);
  height: 100vh;
  overflow: hidden;
  position: fixed;
  right: -360px;
  top: 0;
  transition: 0.5s;
  width: 360px;
  z-index: 99;

  &.show {
    right: 0;

    &:before {
      background: rgba(0, 0, 0, 0.1);
      content: '';
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .close-btn {
    align-items: center;
    background: #e8505b;
    color: #fff;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease;

    &:hover {
      opacity: 0.85;
    }
  }

  .content {
    background: #fff;
    height: 100%;
    width: 100%;
  }

  strong {
    align-items: center;
    border-bottom: 1px solid #acacac;
    color: $txt-main-color;
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }

  form {
    overflow: hidden;
    padding: 20px 30px;
    width: 100%;

    label {
      color: $txt-second-color;
      display: flex;
      font-size: 18px;
      font-weight: 400;
      margin: 5px 0;

      span {
        display: block;
        color: #d82710;
        font-size: 22px;
        font-weight: 800;
        margin-left: 2px;
      }
    }

    .btns {
      display: flex;
      gap: 10px;
      height: 45px;
      margin-bottom: 15px;
      margin-top: 25px;
      width: 100%;

      button {
        background: $txt-hologram;
        color: #fff;
        font-weight: 500;
        height: 100%;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }

    .forget {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        @include hologram_text;
      }
    }
  }

  .iq-input-group {
    align-items: center;
    border: 1px solid #acacac;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;

    i {
      align-items: center;
      border-right: 1px solid #acacac;
      color: #555;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 40px;
      font-size: 1.5rem;
    }

    input {
      border: none;
      height: 100%;
      outline: none;
      width: 100%;
      font-size: 1.5rem;
      padding-left: 1rem;
    }
  }
}

.error-msg {
  color: #ec1d25;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
