###! Link
URL_API_ADMIN=URL_API_ADMIN
URL_API_USER=URL_API_USER

###!XLSX Demo ###
XLSX_SUCCESS=XLSX_SUCCESS
XLSX_FAIL_DATA_EXIT=XLSX_FAIL_DATA_EXIT
XLSX_FAIL_DATABASE=XLSX_FAIL_DATABASE

##! Password
OLD_PASSWORD=OLD_PASSWORD
PASSWORD=PASSWORD
CONFIRM_PASSWORD=CONFIRM_PASSWORD

##! TOKEN
TOKEN=TOKEN