.rippleEffect {
  animation: rippleDrop 0.6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shadow-pulse-dots {
  0% {
    box-shadow: 0 0 0 0px rgb(0 177 255 / 20%);
  }

  100% {
    box-shadow: 0 0 0 15px rgb(0 177 255 / 0%);
  }
}
