@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin hologram_text {
  background: $txt-hologram;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin hologram-border($border-size) {
  border: $border-size + px solid;
  border-image-slice: 1;
  border-image-source: $txt-hologram;
}
