$main-bg: #fff;
$main-color: #4267b2;

$txt-main-color: rgb(9 30 75/1);
$txt-second-color: rgb(51 51 51/1);
$txt-hologram: linear-gradient(250deg, #ec1d25, #0d296b);

$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 120px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
  'blue': #4267b2,
  'orange': #fbb96b,
  'pink': #fe7e73,
  'white': #fff,
  'black': #000,
  'main': $main-color,
  'red': #ff0000,
  'yellow': #ffff00,
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
