#!@author Nguyễn Tiến Tài
#!created_at 08/02/2023
#!description: General
# Info Swagger Admin APi
info:
    title: Document Admin
    description: Login,Add Multiple Student
    version: 1.0.0
servers:
    - url: http://localhost:5000
      description: Local development server admin api
# General
components:
    # Check type header
    headers:
        AuthHeader:
            description: Header info student.
            type: string
            required: true
    #Save cookie client
    SaveCookie:
        Set-Cookie:
            description: '`refreshToken`'
            schema:
                type: string
                example: refreshToken=51872eca5efedcf424db4cf5afd16a9d00ad25b743a034c9c221afc85d18dcd5e4ad6e3f08607550; Path=/; Expires=Tue, 8 Feb 2023 09:14:17 GMT; HttpOnly
    # Parameter
    parameters:
        COOKIE-CLIENT:
            in: cookie
            name: refreshToken
            description: The `refreshToken` cookie
            schema:
                type: string
                example: 51872eca5efedcf424db4cf5afd16a9d00ad25b743a034c9c221afc85d18dcd5e4ad6e3f08607550
        X-DEVICE-ID:
            in: header
            name: X-DEVICE-ID
            required: true
            schema:
                type: string
        X-OS-TYPE:
            in: header
            name: X-OS-TYPE
            required: true
            schema:
                type: string
        X-OS-VERSION:
            in: header
            name: X-OS-VERSION
            required: true
            schema:
                type: string
        X-APP-VERSION:
            in: header
            name: X-APP-VERSION
            required: true
            schema:
                type: string
        X-DEVICE-NAME:
            in: header
            name: X-DEVICE-NAME
            required: true
            schema:
                type: string
        TOKEN:
            in: header
            name: Authorization
            type: string
            description: Bearer Token
            required: true
            schema:
                type: bearerToken
    # Unauthorized
    responses:
        UnauthorizedError:
            description: Access token is missing or invalid, or the user does not have access to perform the action,or or Device Invalid
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 400
                            message:
                                type: string
                                example: 'Unauthorized'
        # Fail CURD Fail
        ServerCURDFail:
            description: CURD Fail !!!
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 500
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Internal Server Error
        ServerFail:
            description: Service die
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 503
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Out Of Service
    #!@author Nguyễn Tiến Tài
    #!created_at 31/01/2023
    #!created_at 08/02/2023
    #!description: Login Admin
paths:
    /api/v1/admin/login:
        post:
            summary: Login Admin
            tags: [Login Admin]
            operationId: loginAdmin
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        admin_login_input:
                                            type: object
                                            properties:
                                                mssv:
                                                    type: number
                                                    example: 60136745
                                                password:
                                                    type: string
                                                    example: '20000531'
                        required:
                            - mssv
                            - password
            responses:
                200:
                    description: Successful authentication
                    headers:
                        $ref: '#/components/SaveCookie'
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    data:
                                        type: object
                                        example:
                                            {
                                                phone: number,
                                                mask_phone: string,
                                                mobile_network_code: number,
                                                mobile_network_country_code: number,
                                                mobile_network_name: string,
                                                password: string,
                                            }
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Email,Phone,Password Invalid and Phone not exit
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'

    #!@author Nguyễn Tiến Tài
    #!created_at 31/01/2023
    #!updated_at 08/02/2023 && 28/02/2023
    #!description Add Student
    /api/v1/admin/private/add/student:
        post:
            summary: Add Student
            tags: [Add Student For Excel]
            operationId: AddStudent
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                files:
                                    type: object
            responses:
                200:
                    description: Data exit database
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                                    element:
                                        type: object
                                        example: Nothing changes to update
                201:
                    description: Add student success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 201
                                    message:
                                        type: string
                                        example: Success
                                    element:
                                        type: array
                                        example: [{ user_id: string }]
                400:
                    description: Email,Phone Invalid or Email or Phone or Email or Mssv exits
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                                    element:
                                        type: object
                                        example: { result: string }
                503:
                    $ref: '#/components/responses/ServerFail'

    #!@author Nguyễn Tiến Tài
    #!created_at 28/02/2023
    #!description: New Token
    /api/v1/admin/renew-token:
        get:
            summary: New Token
            tags: [New Token]
            operationId: reNewToken
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
                  schema:
                      $ref: '#/components/headers/AuthHeader'
            responses:
                200:
                    description: New Token Success
                    headers:
                        $ref: '#/components/SaveCookie'
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                                    element:
                                        type: object
                                        example:
                                            {
                                                result:
                                                    {
                                                        access_token: string,
                                                        refresh_token: string,
                                                        role: number,
                                                        user_id: string,
                                                        name: string,
                                                    },
                                            }
                400:
                    description: Token is Blacklist or Invalid Header or The refresh token is invalid or Device Invalid
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: string
                                    element:
                                        type: object
                                        example: { result: string }
                503:
                    $ref: '#/components/responses/ServerFail'
    #!@author Nguyễn Tiến Tài
    #!created_at 28/02/2023
    #!description: Logout admin
    /api/v1/admin/private/logout:
        get:
            summary: Logout Admin
            tags: [Logout Admin]
            operationId: logoutAdmin
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
                  schema:
                      $ref: '#/components/headers/AuthHeader'
            responses:
                200:
                    description: Logout Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                401:
                    $ref: '#/components/responses/UnauthorizedError'
                500:
                    $ref: '#/components/responses/ServerCURDFail'

                503:
                    $ref: '#/components/responses/ServerFail'
