#!@author Nguyễn Tiến Tài
#!created_at 08/02/2023
#!description: General
# Info Swagger Admin APi
info:
    title: Document Admin
    description: Login,Add Multiple Student
    version: 1.0.0
servers:
    - url: http://localhost:5000
      description: Local development server admin api
# General
components:
    # Parameter
    parameters:
        COOKIE-CLIENT:
            in: cookie
            name: refreshToken
            description: The `refreshToken` cookie
            schema:
                type: string
                example: 51872eca5efedcf424db4cf5afd16a9d00ad25b743a034c9c221afc85d18dcd5e4ad6e3f08607550
        X-DEVICE-ID:
            in: header
            name: X-DEVICE-ID
            required: true
            schema:
                type: string
        X-OS-TYPE:
            in: header
            name: X-OS-TYPE
            required: true
            schema:
                type: string
        X-OS-VERSION:
            in: header
            name: X-OS-VERSION
            required: true
            schema:
                type: string
        X-APP-VERSION:
            in: header
            name: X-APP-VERSION
            required: true
            schema:
                type: string
        X-DEVICE-NAME:
            in: header
            name: X-DEVICE-NAME
            required: true
            schema:
                type: string
        TOKEN:
            in: header
            name: Authorization
            type: string
            description: Bearer Token
            required: true
            schema:
                type: bearerToken
    # Unauthorized
    responses:
        UnauthorizedError:
            description: Access token is missing or invalid, or the user does not have access to perform the action,or or Device Invalid
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 400
                            message:
                                type: string
                                example: 'Unauthorized'
        # Fail CURD Fail
        ServerCURDFail:
            description: CURD Fail !!!
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 500
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Internal Server Error
        ServerFail:
            description: Service die
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 503
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Out Of Service
    #!@author Nguyễn Tiến Tài
    #!created_at 03/02/2023
    #!description: create Book
paths:
    /v1/admin/private/book/create:
        post:
            summary: Create Book
            tags: [Create Book]
            operationId: createBook
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        author_input:
                                            type: object
                                            properties:
                                                name:
                                                    type: string
                                                    example: Tai
                                                author_id:
                                                    type: string
                                                    example: 1475794147142008834
                                                avatar_uri:
                                                    type: string
                                                    example: 'https://res.cloudinary.com/taithinhnam/image/upload/v1677663849/library_school_image/images/123456/1629883834625425408/1677663846991-tuy%E1%BB%81n.jpg'
                                                public_id_image:
                                                    type: string
                                                    example: 'library_school_image/images/123456/1630914582551724032/1677725284354-tuyền'
                                                description:
                                                    type: string
                                                    example: 'Gio co va may'
                                                language:
                                                    type: string
                                                    example: 'vietnamese'
                                                quantity:
                                                    type: number
                                                    example: 2
                                                bookshelf:
                                                    type: number
                                                    example: 0
                        required:
                            - name
                            - author_id
                            - avatar_uri
                            - public_id_image
                            - description
                            - language
                            - quantity
                            - bookshelf
            responses:
                200:
                    description: Create success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Invalid input
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'

    #!@author Nguyễn Tiến Tài
    #!created_at 03/02/2023
    #!description: update book
    /v1/admin/private/book/update:
        post:
            summary: Update Book
            tags: [Update Book]
            operationId: updateBook
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        update_input:
                                            type: object
                                            properties:
                                                book_id:
                                                    type: string
                                                    example: 1475825111725506562
                                                name:
                                                    type: string
                                                    example: Tai
                                                author_id:
                                                    type: string
                                                    example: 1475794147142008834
                                                avatar_uri:
                                                    type: string
                                                    example: 'https://res.cloudinary.com/taithinhnam/image/upload/v1677663849/library_school_image/images/123456/1629883834625425408/1677663846991-tuy%E1%BB%81n.jpg'
                                                public_id_image:
                                                    type: string
                                                    example: 'library_school_image/images/123456/1630914582551724032/1677725284354-tuyền'
                                                description:
                                                    type: string
                                                    example: 'Gio co va may'
                                                language:
                                                    type: string
                                                    example: 'vietnamese'
                                                quantity:
                                                    type: number
                                                    example: 2
                                                bookshelf:
                                                    type: number
                                                    example: 0
                        required:
                            - book_id
                            - name
                            - author_id
                            - avatar_uri
                            - public_id_image
                            - description
                            - language
                            - quantity
                            - bookshelf
            responses:
                200:
                    description: update success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Invalid input
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'
    #!@author Nguyễn Tiến Tài
    #!created_at 03/02/2023
    #!description: delete book
    /v1/admin/private/book/delete:
        post:
            summary: Delete book
            tags: [Delete book]
            operationId: deketeBook
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        book_input:
                                            type: object
                                            properties:
                                                book_id:
                                                    type: string
                                                    example: 1474830717476143106
                        required:
                            - book_id
            responses:
                200:
                    description: Delete success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Invalid input
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'
    #!@author Nguyễn Tiến Tài
    #!created_at 03/02/2023
    #!description: Detail Book
    /v1/admin/private/book/detail/:book_id:
        get:
            summary: Detail Book
            tags: [Detail Book]
            operationId: detailBook
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            responses:
                200:
                    description: Detail success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                503:
                    $ref: '#/components/responses/ServerFail'
    #!@author Nguyễn Tiến Tài
    #!created_at 03/02/2023
    #!description: Get all Book
    /v1/admin/private/book/all:
        get:
            summary: Get all Book
            tags: [Get all Book]
            operationId: getAllBook
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            responses:
                200:
                    description: success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                503:
                    $ref: '#/components/responses/ServerFail'
