{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["react", "eslint-plugin-prettier", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "js": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParents": "always",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "embeddedLanguageFormatting": "auto",
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxSingleQuote": false,
        "printWidth": 120,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false,
        "vueIndentScriptAndStyle": false
      }
    ]
  }
}
