<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Reset Password Student at Library School</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 14px;
                color: #333;
                background-color: #f1f1f1;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div style="background-color: #f2f2f2; padding: 20px">
            <div
                style="
                    max-width: 600px;
                    margin: 0 auto;
                    background-color: #ffffff;
                    padding: 20px;
                    border: 1px solid #e5e5e5;
                "
            >
                <img src="cid:image_logo" alt="logo" style="display: block; margin: 0 auto; max-width: 200px" />
                <h1 style="text-align: center; margin-top: 20px">Làm mới mật khẩu</h1>
                <p style="color: #ff0000; font-weight: bold">Xin chào <b>{{data.name}}</b>,</p>
                <p>
                    Tài khoản của bạn đã gửi yêu cầu làm mới mật khẩu. Hãy nhấn vào ô bên dưới để điều hướng đến trang
                    làm mới mật khẩu nhé.
                </p>
                <div style="text-align: center; margin-top: 20px">
                    <a
                        href="{{data.link_reset}}"
                        style="
                            background-color: #4caf50;
                            color: #ffffff;
                            padding: 10px 20px;
                            text-decoration: none;
                            border-radius: 4px;
                        "
                        >Làm mới mật khẩu</a
                    >
                </div>
                <p>
                    Nếu bạn không gửi yêu cầu làm mới mật khẩu, hãy liên hệ chúng tôi ngay lập tức
                    <a href="mailto:{{data.support_email}}">{{data.support_email}}</a>.
                </p>
                <p style="font-style: italic">
                    Tin nhắn này đã gửi đến <b>{{data.email}}</b> bởi vì bạn đã đăng kí sử dụng dịch vụ của chúng tôi.
                </p>
            </div>
        </div>
    </body>
</html>
