.book-card {
  text-align: center;
  margin-bottom: 30px;

  &__image {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      transition: all 0.5s ease;

      &:nth-child(1) {
        transform: translateX(-50%) scale(1);
      }

      &:nth-child(2) {
        transform: translateX(-50%) scale(0);
      }
    }

    &:hover img {
      &:nth-child(1) {
        transform: translateX(-50%) scale(0);
      }

      &:nth-child(2) {
        transform: translateX(-50%) scale(1);
      }
    }
  }

  &__name {
    margin-bottom: 5px;
    color: $txt-main-color;
    font-size: 2rem;
    font-weight: 500;

    &:hover {
      @include hologram_text;
    }
  }

  &__author {
    font-size: 1.5rem;
    font-weight: normal;
    color: $txt-second-color;
    margin-bottom: 10px;
  }

  &__btn {
    @include tablet {
      display: none;
    }
  }
}
