.header {
  background-color: $main-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  transition: all 0.3s ease-in-out;

  @include tablet {
    height: $header-tablet-height;
    box-shadow: $box-shadow;
  }
  @include mobile {
    height: $header-mobile-height;
  }

  .container {
    height: 100%;
  }

  &.shrink {
    z-index: 100;
    height: $header-shrink-height;
    box-shadow: $box-shadow;

    @include mobile {
      height: $header-mobile-height;
    }
  }

  &__logo {
    @include flex(center, center);
    position: absolute;
    inset: 0;
    left: -5rem;
    pointer-events: none;

    @include tablet {
      left: 0;
    }

    img {
      height: 80px;

      @include tablet {
        height: 60px;
      }

      @include mobile {
        height: 30px;
      }
    }
  }

  &__menu {
    @include flex(center, space-between);
    height: 100%;
    font-size: 2rem;

    &__mobile-toggle {
      display: none;
    }

    &__item ~ &__item {
      margin-left: 39px;

      @include tablet {
        margin-left: 25px;
      }

      @include mobile {
        margin-left: 10px;
      }
    }

    &__item.active {
      font-weight: 600;
      @include hologram_text;
    }

    &__item:hover {
      @include hologram_text;

      .header__submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    &__left,
    &__right {
      @include flex(center, center);
      height: 100%;
    }

    &__right {
      font-size: 2.25rem;

      .hotline-wrap {
        margin-right: 3rem;
        @include tablet {
          visibility: hidden;
          display: none;
        }
        a {
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-align-items: center;
          align-items: center;
          background: -webkit-linear-gradient(240deg, #ec1d25, #0d296b);
          background: linear-gradient(-150deg, #ec1d25, #0d296b);
          border-radius: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          height: 40px;
          -webkit-justify-content: center;
          justify-content: center;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          color: $txt-white;

          span {
            font-size: 1.6rem;
            font-weight: 800;
          }

          strong {
            font-size: 2.2rem;
          }

          i {
            display: inline-block;
            font-size: 30px;
            height: 18px;
            line-height: 18px;
            margin-right: 0.5rem;
          }
        }
      }

      &__item {
        @include flex(center, center);

        .login-btn {
          color: $txt-white;
          background: $main-color;
          padding: 0.8rem 1rem;
          border: none;
          outline: none;
          border-radius: 0.6rem;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }

        img {
          width: 35px;
          border-radius: 50%;
          object-fit: contain;
          object-position: center;
        }
      }

      @include tablet {
        img {
          width: 30px;
        }
      }

      @include mobile {
        font-size: 1.5rem;

        img {
          width: 25px;
        }
      }
    }

    &__left {
      &__close {
        display: none;
      }

      @include tablet {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $main-bg;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &__item ~ &__item {
          margin-left: unset;
          margin-top: 20px;
        }

        &__close {
          display: block;
          position: absolute;
          left: 20px;
          font-size: 2.5rem;
        }
      }
    }

    &__mobile-toggle {
      display: none;

      @include tablet {
        display: block;
        font-size: 2.5rem;
      }
    }
  }

  &__submenu {
    position: absolute;
    border-top: 3px solid;
    border-image-slice: 1;
    border-image-source: $txt-hologram;
    transform: translateX(-10%);
    opacity: 0;
    visibility: hidden;
    top: $header-height;
    transition: top 0.3s;
    z-index: 1000;
    background-color: #fff;
    -webkit-text-fill-color: initial;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    font-size: 1.8rem;

    @include tablet {
    }
    &__item {
      border-bottom: 1px solid #ccc;
      padding: 1.5rem 0;
      span {
        color: $txt-second-color;
        padding-left: 1.5rem;
        padding-right: 10rem;

        &:hover {
          @include hologram_text;
        }
      }
    }
  }

  .loginBtn:hover {
    -webkit-text-fill-color: initial;
  }
}
