.header {
  background-color: $main-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  transition: all 0.3s ease-in-out;

  @include tablet {
    height: $header-tablet-height;
    box-shadow: $box-shadow;
  }

  @include mobile {
    height: $header-mobile-height;
  }

  .container {
    height: 100%;
  }

  &.shrink {
    z-index: 100;
    height: $header-shrink-height;
    box-shadow: $box-shadow;

    @include mobile {
      height: $header-mobile-height;
    }
  }

  &__logo {
    @include flex(center, center);
    position: absolute;
    inset: 0;
    pointer-events: none;

    img {
      height: 80px;

      @include tablet {
        height: 60px;
      }

      @include mobile {
        height: 30px;
      }
    }
  }

  &__menu {
    @include flex(center, space-between);
    height: 100%;
    font-size: 1.8rem;

    &__mobile-toggle {
      display: none;
    }

    &__item ~ &__item {
      margin-left: 39px;

      @include tablet {
        margin-left: 25px;
      }

      @include mobile {
        margin-left: 10px;
      }
    }

    &__item.active {
      font-weight: 600;
      color: $main-color;
    }

    &__item:hover {
      color: $main-color;
    }

    &__left,
    &__right {
      @include flex(center, center);
      height: 100%;
    }

    &__right {
      font-size: 2.25rem;

      &__item {
        @include flex(center, center);

        .login-btn {
          color: $txt-white;
          background: $main-color;
          padding: 0.8rem 1rem;
          border: none;
          outline: none;
          border-radius: 0.6rem;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }

        img {
          width: 35px;
          border-radius: 50%;
          object-fit: contain;
          object-position: center;
        }
      }

      @include tablet {
        img {
          width: 30px;
        }
      }

      @include mobile {
        font-size: 1.5rem;

        img {
          width: 25px;
        }
      }
    }

    &__left {
      &__close {
        display: none;
      }

      @include tablet {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $main-bg;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &__item ~ &__item {
          margin-left: unset;
          margin-top: 20px;
        }

        &__close {
          display: block;
          position: absolute;
          left: 20px;
          font-size: 2.5rem;
        }
      }
    }

    &__mobile-toggle {
      display: none;

      @include tablet {
        display: block;
        font-size: 2.5rem;
      }
    }
  }
}
