.news-card {
  padding-left: 0;
  box-shadow: $box-shadow;
  transition: all 0.5s ease;
  border-radius: 5px;

  &.horizontal {
    @include flex(center, flex-start);
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:hover &__info__name {
    @include hologram_text;
  }

  &__thumbnail {
    @include flex(center, center);
    color: $txt-main-color;

    &-sm {
      padding: 20px;
      width: 220px;
    }

    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
  }

  &__info {
    padding: 0 40px;
    margin-top: 1rem;

    &__date {
      color: #999 !important;
      font-size: 1.5rem;
      font-style: italic;
    }

    &__name {
      text-transform: capitalize;
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 1.5rem;
      color: $txt-second-color;
      padding-bottom: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
