.btn {
  border: 0;
  outline: 0;
  border-radius: 6px;
  color: $btn-main-color;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: $txt-hologram;

  &:hover {
    transition: all 0.4 ease-in-out;
    opacity: 0.9;
    color: #fff;
  }

  @include mobile {
    font-size: 1rem;
  }

  &__text {
    display: block;
    transition: all 0.5s ease;
  }

  &__text {
    padding: 1rem 2rem;
  }

  &-sm {
    font-size: 1rem;
  }

  &-sm &__text {
    padding: 0.7rem 1.5rem;
  }

  &-block {
    width: 100%;
  }
}
