.text-primary {
  color: $iq-primary !important;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(30, 61, 115, 0.1);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

::-webkit-scrollbar {
  // width: 8px;
  // height: 8px;
  // border-radius: 5px;
  width: 0px;
}

// ::-webkit-scrollbar-thumb {
//   background: $iq-secondary;
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
//   background: $iq-border-light;
//   border-radius: 5px;
// }

::selection {
  background: $iq-primary;
  color: $iq-white;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0px;
  line-height: 1.5;
  color: $iq-title-text;
}

h2 {
  font-size: 2.3em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 18px;
  line-height: 1.5em;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
}

a {
  color: $iq-primary;
}

.bg-primary,
.badge-primary {
  color: $iq-white;
  background: $iq-primary !important;
}

.waves-effect {
  position: relative;
}

.text-gray {
  color: $iq-body-text !important;
}

.text-white {
  color: $iq-white !important;
}

.text-body {
  color: $iq-body-text !important;
}

.rounded {
  border-radius: 5px !important;
}

a,
.btn {
  transition: all 0.5s ease-out 0s;
}

.iq-card {
  background: $iq-light-card;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
}

.badge {
  padding: 0.3em 0.6em;
  line-height: 1.3;
  text-transform: capitalize;
}

.text-warning {
  color: $iq-warning !important;
}

.text-danger {
  color: $iq-danger !important;
}

.avatar-40 {
  height: 40px;
  width: 40px;
  min-width: 40px;
  line-height: 40px;
}

.avatar-60 {
  height: 60px;
  width: 60px;
  min-width: 60px;
  line-height: 60px;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.line-height {
  line-height: normal !important;
}

.waves-effect {
  position: relative;
}

.iq-card-block.iq-card-height {
  height: calc(100% - 30px);
}

.iq-card-block.iq-card-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.iq-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.iq-card {
  background: $iq-light-card;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
  box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
}

.iq-card-body {
  padding: 20px;
}

.iq-card .iq-card-header,
.iq-card-transparent .iq-card-header {
  padding: 20px;
  margin-bottom: 0;
  -ms-flex-align: center !important;
  align-items: center !important;
  border-bottom: 1px solid $iq-border-light;
}

.iq-card-transparent {
  background: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  border: none;
  box-shadow: none;
}

.iq-card.browse-bookcontent,
.iq-card.search-bookcontent {
  background: transparent !important;
  box-shadow: none;
  transition: all 0.5s ease-out 0s;
}

.btn-primary {
  background: $iq-primary;
  border-color: $iq-primary;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn {
  font-size: 14px;
  border-radius: 4px;
}

.browse-bookcontent:hover .view-book,
.search-bookcontent:hover .view-book,
li:hover .image-overlap-shadow .view-book {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.browse-bookcontent:hover .image-overlap-shadow:before,
.search-bookcontent:hover .image-overlap-shadow:before,
li:hover .image-overlap-shadow:before {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.browse-bookcontent .image-overlap-shadow:before,
.search-bookcontent .image-overlap-shadow:before,
li .image-overlap-shadow:before {
  content: '';
  border-radius: 5px;
  height: 100%;
  left: 0;
  top: 0px;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 100%;
}

.browse-bookcontent .view-book,
.search-bookcontent .view-book,
li .image-overlap-shadow .view-book {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 40%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.view-book .btn-white:hover {
  background: $iq-primary;
  color: $iq-white;
  border-color: $iq-primary;
}

.btn-white {
  background-color: $iq-white;
  border-color: $iq-white;
  color: $iq-primary;
}

#favorites-slider h5,
.browse-bookcontent h6,
.search-bookcontent h6,
#similar-slider h6,
#trendy-slider h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: normal;
}

#favorites-slider p,
.browse-bookcontent p,
.search-bookcontent p,
#similar-slider p,
#trendy-slider p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.form-control {
  height: 45px;
  line-height: 45px;
  background: transparent;
  border: 1px solid $iq-border-light;
  font-size: 14px;
  color: $iq-secondary;
  border-radius: 5px;
}
