$color-main-bg: #f7f7f7;
$iq-primary: #0dd6b8;
$iq-light-primary: #fbfcff;
$iq-border-light: #f1f1f1;
$iq-danger: #ff9b8a;
$iq-secondary: #a09e9e;
$iq-title-text: #11141b;
$iq-body-text: #777d74;
$iq-warning: #ffba68;
$breadcrumb-divider: quote('>');
$iq-white: #ffffff;
$iq-body-bg: #fbfcff;
$iq-border: #ededf0;
$iq-title-text: #11141b;
$iq-light-card: #ffffff;
$iq-body-bg: #fbfcff;
$txt-main-color: #535261;
$txt-black: #000000;
$colors: (
  'blue': #4267b2,
  'orange': #ff9138,
  'pink': #fe7e73,
  'white': #fff,
  'black': #000,
  'red': #e73f3f,
  'yellow': #ffff00,
);
