#!@author Nguyễn Tiến Tài
#!created_at 08/02/2023
#!description: General
# Info Swagger Student APi
info:
    title: Document Student
    description: CURD Categories
    version: 1.0.0
servers:
    - url: http://localhost:5000
      description: Local development server admin api
# General
components:
    # Parameter
    parameters:
        X-DEVICE-ID:
            in: header
            name: X-DEVICE-ID
            required: true
            schema:
                type: string
        X-OS-TYPE:
            in: header
            name: X-OS-TYPE
            required: true
            schema:
                type: string
        X-OS-VERSION:
            in: header
            name: X-OS-VERSION
            required: true
            schema:
                type: string
        X-APP-VERSION:
            in: header
            name: X-APP-VERSION
            required: true
            schema:
                type: string
        X-DEVICE-NAME:
            in: header
            name: X-DEVICE-NAME
            required: true
            schema:
                type: string
        TOKEN:
            in: header
            name: Authorization
            type: string
            description: Bearer Token
            required: true
            schema:
                type: bearerToken
    # Unauthorized
    responses:
        UnauthorizedError:
            description: Access token is missing or invalid, or the user does not have access to perform the action,or or Device Invalid
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 400
                            message:
                                type: string
                                example: 'Unauthorized'
        # Fail CURD Fail
        ServerCURDFail:
            description: CURD Fail !!!
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 500
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Internal Server Error
        ServerFail:
            description: Service die
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            status:
                                type: integer
                                example: 503
                            message:
                                type: string
                                example: Service Unavailable
                            element:
                                type: object
                                example: Out Of Service
    #!@author Nguyễn Tiến Tài
    #!created_at 24/04/2023
    #!description: create comment
paths:
    /v1/user/private/comment/create:
        post:
            summary: Create Comment
            tags: [Create Comment]
            operationId: createComment
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        comment_input:
                                            type: object
                                            properties:
                                                book_id:
                                                    type: number
                                                    example: 1486078313523838978
                                                parent_slug:
                                                    type: string
                                                    example: ''
                                                content:
                                                    type: string
                                                    example: Hello world
                        required:
                            - book_id
                            - parent_slug
                            - content
            responses:
                200:
                    description: Create success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Invalid input
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'

    #!@author Nguyễn Tiến Tài
    #!created_at 24/04/2023
    #!description: delete comment
    /v1/user/private/comment/delete:
        post:
            summary: Delete Comment
            tags: [Delete Comment]
            operationId: deleteComment
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        comment_input:
                                            type: object
                                            properties:
                                                comment_id:
                                                    type: string
                                                    example: 1474830717476143106
                        required:
                            - comment_id
            responses:
                200:
                    description: Delete success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                400:
                    description: Invalid input
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 400
                                    message:
                                        type: string
                                        example: Bad Request
                503:
                    $ref: '#/components/responses/ServerFail'

    #!@author Nguyễn Tiến Tài
    #!created_at 24/04/2023
    #!description: Get List Comment
    /v1/user/comment/all:
        get:
            summary: Get all Comment
            tags: [Get all Comment]
            operationId: listComment
            parameters:
                - $ref: '#/components/parameters/COOKIE-CLIENT'
                - $ref: '#/components/parameters/X-DEVICE-ID'
                - $ref: '#/components/parameters/X-OS-TYPE'
                - $ref: '#/components/parameters/X-OS-VERSION'
                - $ref: '#/components/parameters/X-APP-VERSION'
                - $ref: '#/components/parameters/X-DEVICE-NAME'
                - $ref: '#/components/parameters/TOKEN'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                input:
                                    type: object
                                    properties:
                                        comment_input:
                                            type: object
                                            properties:
                                                book_id:
                                                    type: number
                                                    example: 1486078313523838978
                                                slug:
                                                    type: number
                                                    example: 1551993628342091778
                        required:
                            - book_id                
                            - slug                
            responses:
                200:
                    description: success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Success
                503:
                    $ref: '#/components/responses/ServerFail'
