@import '../../../styles/style.scss';

.top-navbar {
  padding: 0 15px 0 30px;
  min-height: 73px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: calc(100% - 350px);
  display: inline-block;
  z-index: 99;
  background: $iq-body-bg;
  border-bottom: 1px solid $iq-border;
  margin: 0;
  transition: all 0.45s ease 0s;

  .navbar-expand-lg {
    justify-content: space-between !important;

    @include desktop {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  .menu-bt {
    @include large-screen {
      display: none !important;
    }

    .wrapper-menu {
      @include large-screen {
        display: none !important;
      }
    }
  }

  &-breadcrumb {
    display: block;
    margin-left: 0px;
    padding: 20px 0;
  }

  .breadcrumb {
    background: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 0.25rem;

    li {
      list-style-type: none;
      font-size: 16px;

      a:hover {
        color: $iq-primary;
      }
    }

    &-item.active {
      color: $iq-body-text;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: '>';
      font-size: 14px;
      color: $iq-body-text;
      margin: 0 6px;
    }
  }

  .search-bar {
    padding: 0 15px;

    .searchbox {
      width: 330px;
      position: relative;
    }

    .search-input {
      width: 100%;
      height: 40px;
      padding: 5px 15px 5px 40px;
      font-size: 13px;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
    }

    .search-link {
      position: absolute;
      left: 15px;
      top: 5px;
      font-size: 16px;
      color: $iq-body-text;
    }
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .navbar-list {
    margin: 0;
    padding: 0;
    float: right;

    li {
      float: left;
      list-style-type: none;
      position: relative;

      .caption {
        line-height: 16px;
        color: $iq-title-text;
        font-weight: 600;
      }

      &:last-child > a {
        padding-right: 0;
      }

      & > a {
        font-size: 18px;
        padding: 0 15px;
        color: $iq-primary;
        display: block;

        & > img {
          width: 50px;
          height: 50px;
        }
      }

      &.search-content {
        @include desktop {
          display: none;
        }
      }

      &.nav-item {
        span.dots {
          height: 6px;
          width: 6px;
          font-size: 0;
          text-align: center;
          padding: 0;
          position: absolute;
          top: -4px;
          right: -2px;
          border: 0;
          animation: shadow-pulse-dots 1s infinite;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }
      }

      &.nav-item.nav-icon {
        & > a {
          color: $iq-white;
          padding: 0;
          height: 35px;
          width: 30px;
          text-align: center;
          font-size: 20px;
          line-height: 35px;
          margin: 25px 10px;
        }
      }
    }
  }

  .iq-show {
    .iq-sub-dropdown {
      display: inline-block;
    }
  }

  .iq-sub-dropdown {
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    transform: translateY(100%);
    background-color: var(--iq-white);
    transition: all 0.3s;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
    transition: all 0.3s ease-out 0s;

    .iq-card-icon {
      width: 45px;
      height: 45px;
      line-height: 40px;
      font-size: 22px;
    }

    .iq-card-body div {
      border-radius: 5px 5px 0 0;
    }

    .iq-sub-card {
      font-size: inherit;
      padding: 15px;
      line-height: normal;
      color: inherit;
      border-bottom: 1px solid var(--iq-light-primary);
      display: inline-block;
      width: 100%;
    }
  }
}

.search-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: $iq-white;
  transition: all 0.3s;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  .search-input {
    width: 300px;
    height: 50px;
    padding: 0 1em 0 40px;
    border: 1px solid $iq-light-primary;
    background-color: $iq-light-primary;
    opacity: 1;
    border-radius: 5px;
  }

  .search-link {
    position: absolute;
    top: 12px;
    left: 15px;
  }
}

.iq-card-icon {
  height: 66px;
  width: 66px;
  display: inline-block;
  line-height: 66px;
  text-align: center;
  font-size: 22px;
}

.iq-sign-btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  border-radius: 5px;
  line-height: normal;
}

.iq-sign-btn:hover {
  color: $iq-white !important;
  background: $iq-danger !important;
}

.sign-in-btn {
  position: relative;
  transform: translateY(50%);
  top: 10%;
}
